*
{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body
{
    background-color: lightblue;
}

#main_section
{
    border: 1px solid gray;
    width: 700px;
    text-align: center;
    background-color: white;
    padding: 10px;
}

#titulo
{
    font-size: 40px;
}

/*SECCIONES DE INFORMACION DEL CV*/
#educacion_section
{
    border: 1px solid;
    padding: 8px;
}

.info_educacion
{
    text-align: justify;
    font-size: 16px;
}

#conociemientos_section
{
    text-align: justify;
    border: 1px solid;
    padding: 8px;
}

#habilidades_section
{
    text-align: center;
    border: 1px solid;
    padding: 8px;
}

.info_habilidades
{
    font-weight: bold;
    width: 100%;
    border:1px dotted black;
}

#experiencia_section
{
    text-align: justify;
    border: 1px solid;
    padding: 8px;
}

/*TITULOS DE LAS SECCIONES DE INFORMACION*/
#educacion_title, #conocimientos_title, #habilidades_title, #experiencia_title
{
    font-size: 25px;
    text-align: justify;
}

/*INFORMACION DE conocimientos, habilidades y experiencia*/
.info_conocimientos, .info_experiencia
{
    background-color: lightgray;
    font-weight: bold;
}
