body
{
    background-color: lightblue;
}

#main_section
{
    border: 1px solid gray;
    width: 700px;
    text-align: center;
    background-color: white;
}

#titulo
{
    font-size: 40px;
}

#educacion
{
    font-size: 25px;
    text-align: justify;
}

.info_educacion
{
    text-align: justify;
    font-size: 16px;
}

#educacion_section
{
    border: 1px solid;
}